@import url('https://fonts.googleapis.com/css?family=Varela');
@import url('https://fonts.googleapis.com/css?family=Roboto');

#all{
    margin: 10px;
    background-color: black;
    font-weight: bold;
    color: white;
}

#all:hover{
    font-weight: bold;
    background-color: grey;
}

.card{
    margin: 20px;
    height: 400px;
}

.card-img-top{
    height: 200px !important;
}

#Databases .progress-bar{
    background-color: #da8804 !important;
}

#databases{
    margin: 10px;
    background-color: #FF9C00;
    font-weight: bold;
    color: white;
}

#databases:hover{
    background-color: #fac36b;
}

#Frameworks .progress-bar{
    background-color: #13c0c0 !important;
}

#frameworks{
    margin: 10px;
    font-weight: bold;
    background-color: #01BFBF;
    color: white;
}

#frameworks:hover{
    background-color: #3bebeb;
}

#Languages .progress-bar{
    background-color: rgb(145, 145, 22) !important;
}

#languages{
    margin: 10px;
    font-weight: bold;
    background-color: rgb(172, 172, 26);
    color: white;
}

#languages:hover{
    background-color: rgb(231, 231, 84);
}

#Tools .progress-bar{
    background-color: #bb3621 !important;
}

#tools{
    margin: 10px;
    font-weight: bold;
    background-color: #fa4e33;
    color: white;
}

#tools:hover{
    background-color: #ff8977;
}

.avatar{
    border: 3px solid white;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
}

html, body {
    max-width: 100% !important;
    overflow-x: hidden !important;
}

.navbar{
    background-color: black;
    opacity: 0.8;
    font-weight: bold;
}

.nav-link{
    color: #A89F7F !important;
}

.active{
    color: #EBE6DB !important;
}

.navbar-toggler-icon{
    background-color: #ECE9D6 !important;
}

.navbar-collapse{
    text-align: left;
    padding-left: 3%
}


.navbar-brand{
    color: #ECE9D6 !important;
}

.navbar-inner {
    background:transparent;
}

.progress{
   margin: 2% 15% 2% 15% !important;
   height: 25px !important;
}

.progress-bar{
    font-weight: bold !important;
    text-align: left !important;
    padding-left: 10px !important;
}

#resume:hover{
    color: black;
    font-weight: bold;
}

.MuiButtonBase-root:hover{
    font-weight: bold !important;
    color: black !important;
}

#LinkedIn{
    margin: 10px !important;
}

#LinkedIn:hover{
    color: #0e76a8 !important;
}

#Github{
    margin: 10px !important;
}

#Github:hover{
    color: #6cc644 !important;
}

#Twitter{
    margin: 10px !important;
}

#Twitter:hover{
    color: #00acee !important;
}

#Instagram{
    margin: 10px !important;
}

#Instagram:hover{
    color: #DD2A7B !important;
}

#Gmail{
    margin: 10px !important;
}

#Gmail:hover{
    color: #B23121 !important;
}