@import url('https://fonts.googleapis.com/css?family=Varela');

html, body {
    max-width: 100% !important;
    overflow-x: hidden !important;
}

.navbar{
    background-color: black;
    opacity: 0.8;
    font-weight: bold;
}

.nav-link{
    color: #A89F7F !important;
}

.active{
    color: #EBE6DB !important;
}

.navbar-toggler-icon{
    background-color: #ECE9D6 !important;
}

.navbar-collapse{
    text-align: left;
    padding-left: 3%
}


.navbar-brand{
    color: #ECE9D6 !important;
}

.navbar-inner {
    background:transparent;
}

.avatar{
    border: 3px solid white;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
}
